#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
*.edj
*~
*swp
*swo
*.gmo
Makefile
Makefile.in
tags
.clang_complete
.DS_Store
.deps
.libs
*.trs
*.log
*.core
*.exe
*.o
*.lo
*.a
*.la
*.gcno
*.gcda
*.dirstamp
*.eo.c
*.eo.h
*.eot.h
*.eo.legacy.h
*.eo.legacy.c
*.eo.hh
*.eo.impl.hh
*.eo.js.cc
*.eo.cs
*.eot.cs
*.eo.lua
*.luac
*.pyc
*.Po
__pycache__
.dir-locals.el
/efl-*-doc.tar.bz2
/ar-lib
/stamp-h1
/aclocal.m4
/autom4te.cache/
/config.cache
/config.cache-env
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/doc/Doxyfile
/doc/html
/doc/latex
/doc/man
/doc/previews/preview_text_filter
/doc/previews/img
/install-sh
/libtool
/ltmain.sh
/compile
/test-driver
/missing
/ABOUT-NLS
/config.rpath
/coverage
/src/lib/ecore_x/ecore_x_vsync
Session.vim
/elm_intro.h

/m4/fcntl-o.m4
/m4/intldir.m4
/m4/lcmessage.m4
/m4/longlong.m4
/m4/po.m4
/m4/uintmax_t.m4
/m4/codeset.m4
/m4/gettext.m4
/m4/intl.m4
/m4/lib-ld.m4
/m4/lt~obsolete.m4
/m4/printf-posix.m4
/m4/visibility.m4
/m4/glibc21.m4
/m4/intlmacosx.m4
/m4/lib-link.m4
/m4/ltoptions.m4
/m4/progtest.m4
/m4/wchar_t.m4
/m4/glibc2.m4
/m4/intmax.m4
/m4/lib-prefix.m4
/m4/ltsugar.m4
/m4/size_max.m4
/m4/wint_t.m4
/m4/iconv.m4
/m4/inttypes_h.m4
/m4/libtool.m4
/m4/ltversion.m4
/m4/stdint_h.m4
/m4/xsize.m4
/m4/intdiv0.m4
/m4/inttypes-pri.m4
/m4/lock.m4
/m4/nls.m4
/m4/threadlib.m4

/build
.cproject
.project
/.settings/
efl_libs.csv
.vscode/
.uuid

/autom4te.cache/
eflete_config.*
eflete_config.h.in
Makefile
*.desktop
*.eet

/src/bin/eflete
/src/bin/eflete_exporter

Doxyfile
POTFILES

/tests/*_test
/tests/*.xml

#configs
.gitreview

#swap and compiled files
*.swp
*.edj
*~
.directory

#build generated files
*.a
*.o
*.i
*.s
*.eo.h
*.eo.c
intl/
src/bin/eflete
src/bin/eflete_exporter
src/bin/eflete.exe
src/bin/eflete_exporter.exe
*.dirstamp
*.log
*.trs
*.dev
*.eet
*.lo
*.la
*.libs
tests/ewe_combobox_test
tests/ewe_entry_test
tests/ewe_init_test
tests/ewe_ruler_test
tests/ewe_statusbar_test
tests/ewe_tabs_test
tests/addpart_test
tests/alloc_test
tests/change_test
tests/diff_test
tests/new_history_test
tests/colorclass_manager_test
tests/colorclasses_edit_api_test
tests/edje_compile_test
tests/font_viewer_dialog_test
tests/image_editor_test
tests/logger_test
tests/modal_window_test
tests/notify_test
tests/project_manager_test
tests/settings_test
tests/style_editor_test
tests/groupedit_test
tests/part_dialog_test
tests/animator_test
tests/ui_block_test
tests/ui_highlight_test
tests/ui_main_window_test
tests/ui_ruler_test
tests/ui_signal_list_test
tests/ui_state_list_test
tests/ui_widget_list_test
tests/ui_workspace_test
tests/widget_manager_test
tests/about_window_test
tests/colorselector_test
tests/config_test
tests/cursor_test
tests/eflete_test
tests/highlight_test
tests/live_view_test
tests/open_file_dialog_test
tests/save_file_dialog_test
tests/style_dialog_test
tests/ui_state_dialog_test
tests/ui_states_list_test
tests/compile_dialog_test
tests/container_test
tests/live_view_prop_test
tests/live_widget_test
tests/history_test
tests/shortcuts_test
tests/sound_editor_test
tests/edj_build/RADIO_DECC/
report.html
tests/html/

#tests
tests/*xml
Testing/*
tests/doxygen_sqlite3.db

#Autotools generated objects
config.cache-env
config/
src/config.h
!src/bin/config
build/*
*Makefile
!*.am
*.in
!src/config.h.in
!data/eflete.desktop.in
!data/component_designer.desktop.in
aclocal.m4
autom4te.cache/*
compile
configure
depcomp
install-sh
missing
config.log
config.status
test-driver
INSTALL
config.guess
config.sub
config.rpath
m4/*
!m4/eflete.m4
!m4/eflete_binary.m4
!m4/ewe.m4
!m4/ewe_binary.m4
!m4/ac_attribute.m4
ABOUT-NLS
INSTALL
po/*.sin
po/*.sed
po/*.header
po/Rules-quot
po/Makevars.template
po/POTFILES
po/en@quot.insert-header
po/stamp-po
config.cache
data/eflete.desktop
data/component_designer.desktop
eflete_config.h
*.deps
stamp-h1
tests/Doxyfile
tests/edj_build/radio.edc
libtool

#tarballs
*.tar.gz
*.tar.bz2
*.tar.xz


#localization
*.gmo
*.pot
po/en@quot.po

#documentation
doc/*
!doc/Doxyfile.in
!doc/Makefile.am

#coverage
*.gcno
*.gcda